<app-breadcrumb title="Users" subTitle="users"></app-breadcrumb>

        <!-- [ Main Content ] start -->
        <!-- SEARCH -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                SEARCH
            </div>
          </div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                    <select name="selectedSearchType" id="selectedSearchType" [(ngModel)]="selectedSearchType" class="form-control">
                        <option value="firstName">First Name</option>
                        <option value="lastName">Last Name</option>
                        <option value="userType">User Type</option>
                        <option value="username">Email</option>
                        <option value="deviceDetail">Device Type</option>
                        <option value="appVersion">App Version</option>
                        <option value="userGuid">User Guid</option>
                    </select>
                    <select name="selectedSearchType1" id="selectedSearchType1" [(ngModel)]="selectedSearchType1" class="form-control">
                        <option value="contains">contains</option>
                        <option value="equal">equals</option>
                    </select>
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="SEARCH: Enter {{selectedSearchType}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="search()" >Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadUsers()">Clear</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH -->

        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header">
                        <h6>{{responseMessage}}</h6>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#large-Modal" (click)="clear()">Add User</button>
                                <button type="button" class="btn  btn-secondary" (click)="dowloadReport()">Export</button>
                                <!--<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item " data-toggle="modal" data-target="#large-Modal"><a><span><i class="feather icon-plus-circle"></i> add new user</span></a></li>
                                    <li class="dropdown-item " (click)="loadUsers()"><a><i class="feather icon-refresh-cw"></i> reload</a></li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Province</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userList | paginate: { id: 'list_of_items', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
                                    <td>{{item.user.firstName}}</td>
                                    <td>{{item.user.lastName}}</td>
                                    <td>{{item.contact.mobile}}</td>
                                    <td>{{item.contact.email}}</td>
                                    <td>{{item.user.userType}}</td>
                                    <td>{{item.address?.province}}</td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#large-Modal-browse" (click)="openUser(item)"><i class="fas fa-edit"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="list_of_items" (pageChange)="page = $event"></pagination-controls>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->

        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-pulse"
        >
        <p style="font-size: 20px; color: white">please wait...</p>
        </ngx-spinner>

        <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="userForm">
                          <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" id="firstName" aria-describedby="emailHelp">
                          </div>
                          
                          <div class="mb-3">
                              <label for="lastName" class="form-label">Last Name</label>
                              <input type="text" formControlName="lastName" class="form-control" id="lastName">
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">Mobile</label>
                                <input type="text" formControlName="mobile" class="form-control" id="mobile">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" formControlName="email" class="form-control" id="email">
                            </div>
                            <div class="mb-3">
                              <label for="userType" class="form-label">User Type</label>
                              <select name="userType" id="userType" formControlName="userType" class="form-control">
                                    <option value="Administrator">Administrator</option>
                                    <option value="Cleaner">Cleaner</option>
                                    <option value="Client">Client</option>
                                    <option value="Supervisor">Supervisor</option>
                                </select>
                            </div>
                            <div class="mb-3">
                              <label for="province" class="form-label">Region</label>
                              <select name="province" id="province" formControlName="province" class="form-control">
                                    <option value="Eastern Cape">Eastern Cape</option>
                                    <option value="Free State">Free State</option>
                                    <option value="Gauteng">Gauteng</option>
                                    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Mpumalanga">Mpumalanga</option>
                                    <option value="Northern Cape">Northern Cape</option>
                                    <option value="North-West">North-West</option>
                                    <option value="Western Cape">Western Cape</option>
                                </select>
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" id="cancel" name="cancel" data-dismiss="modal">Close</button>
                        <button type="button" (click)="postUserDetails()" *ngIf="newForm" class="btn btn-primary waves-effect waves-light ">Add</button>
                        <button type="button" (click)="UpdateUserDetails()" *ngIf="!newForm" class="btn btn-primary waves-effect waves-light ">Save Changes</button>
                        <button type="button" (click)="deleteUser()" *ngIf="!newForm" class="btn btn-danger waves-effect waves-light ">Delete User</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="large-Modal-browse" tabindex="-1" role="dialog">
            <div class="modal-dialog-full-width modal-dialog modal-lg" role="document">
                <div class="modal-content-full-width modal-content">
                    <div class="modal-header-full-width modal-header">
                        <h4 class="modal-title">User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">

                                    </div>
                                    <div class="card-body">
                                        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a
                                                class="nav-link active text-uppercase"
                                                id="home-tab"
                                                data-toggle="tab"
                                                href="#home"
                                                role="tab"
                                                aria-controls="home"
                                                aria-selected="true"
                                                >
                                                Home
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                class="nav-link text-uppercase"
                                                id="profile-tab"
                                                data-toggle="tab"
                                                href="#profile"
                                                role="tab"
                                                aria-controls="profile"
                                                aria-selected="false"
                                                >
                                                Timeline
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a
                                                class="nav-link text-uppercase"
                                                id="contact-tab"
                                                data-toggle="tab"
                                                href="#contact"
                                                role="tab"
                                                aria-controls="contact"
                                                aria-selected="false"
                                                >
                                                Change Password
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div
                                                class="tab-pane fade show active"
                                                id="home"
                                                role="tabpanel"
                                                aria-labelledby="home-tab"
                                            >
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <form [formGroup]="userForm">
                                                        <div class="mb-3">
                                                            <label for="firstName" class="form-label">First Name</label>
                                                            <input type="text" formControlName="firstName" class="form-control" id="firstName" aria-describedby="emailHelp">
                                                        </div>
                                                        
                                                        <div class="mb-3">
                                                            <label for="lastName" class="form-label">Last Name</label>
                                                            <input type="text" formControlName="lastName" class="form-control" id="lastName">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="mobile" class="form-label">Mobile</label>
                                                                <input type="text" formControlName="mobile" class="form-control" id="mobile">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="email" class="form-label">Email</label>
                                                                <input type="text" formControlName="email" class="form-control" id="email">
                                                            </div>
                                                            <div class="mb-3">
                                                            <label for="userType" class="form-label">User Type</label>
                                                            <select name="userType" id="userType" formControlName="userType" class="form-control">
                                                                    <option value="Administrator">Administrator</option>
                                                                    <option value="Cleaner">Cleaner</option>
                                                                    <option value="Client">Client</option>
                                                                    <option value="Supervisor">Supervisor</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                            <label for="province" class="form-label">Region</label>
                                                            <select name="province" id="province" formControlName="province" class="form-control">
                                                                    <option value="Eastern Cape">Eastern Cape</option>
                                                                    <option value="Free State">Free State</option>
                                                                    <option value="Gauteng">Gauteng</option>
                                                                    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                                                    <option value="Limpopo">Limpopo</option>
                                                                    <option value="Mpumalanga">Mpumalanga</option>
                                                                    <option value="Northern Cape">Northern Cape</option>
                                                                    <option value="North-West">North-West</option>
                                                                    <option value="Western Cape">Western Cape</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="widget-profile-card-1">
                                                            <img class="img-fluid" src="assets/images/slider/slider7.jpeg" alt="card-style-1">
                                                            <div class="middle-user">
                                                                <!-- src="http://dev-assetopti.co.za/onlinepictures/downloadLeproPicture.php?pic={{item.fileName}}" -->
                                                                <img *ngIf="profilePicture == ''" class="img-fluid img-thumbnail" src="assets/images/user/avatar-template.png" alt="Profile-user">
                                                                <img *ngIf="profilePicture != ''" class="img-fluid img-thumbnail" src="http://dev-assetopti.co.za/onlinepictures/downloadLeproPicture.php?pic={{profilePicture}}" alt="Profile-user">
                                                            </div>
                                                        </div>
                                                        <div class="card-block text-center">
                                                            <h3>{{userForm.controls.firstName.value}} {{userForm.controls.lastName.value}}</h3>
                                                        </div>
                                                        <div class="card-footer bg-inverse">
                                                            <div class="row text-center">
                                                                <div class="col-xs-3 col-sm-3 col-lg-3">
                                                                    <h4>{{today}}</h4>
                                                                    <span>Today</span>
                                                                </div>
                                                                <div class="col-xs-3 col-sm-3 col-lg-3">
                                                                    <h4>{{week}}</h4>
                                                                    <span>This week</span>
                                                                </div>
                                                                <div class="col-xs-3 col-sm-3 col-lg-3">
                                                                    <h4>{{month}}</h4>
                                                                    <span>This Month</span>
                                                                </div>
                                                                <div class="col-xs-3 col-sm-3 col-lg-3">
                                                                    <h4>{{year}}</h4>
                                                                    <span>Overall</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="tab-pane fade"
                                            id="profile"
                                            role="tabpanel"
                                            aria-labelledby="profile-tab"
                                        >
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h6>{{responseMessageHistory}}</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>DATE</th>
                                                                    <th>ATM</th>
                                                                    <th>CONDITION</th>
                                                                    <th>Address</th>
                                                                    <th>APP Version</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of userActivityList | paginate: { id: 'list_of_items_user_history', itemsPerPage: 10, currentPage: pageUserHistory, totalItems: totalRecordsUserHistory}">
                                                                    <td>{{item.cleaningLog.dateAdded}}</td>
                                                                    <td>{{item.cleaningLog.atm_ID_Code}}</td>
                                                                    <td>{{item.cleaningLog.atmCondition}}</td>
                                                                    <td>{{item.cleaningLog.actualFullAddress}}</td>
                                                                    <td>{{item.cleaningLog.appVersion}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div>
                                                            <pagination-controls id="list_of_items_user_history" (pageChange)="pageUserHistory = $event"></pagination-controls>
                                                        </div>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="tab-pane fade"
                                        id="contact"
                                        role="tabpanel"
                                        aria-labelledby="contact-tab"
                                    >
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="passwordChange" class="form-label">New Password</label>
                                                <input type="text" [(ngModel)]="passwordChange" class="form-control" id="passwordChange" aria-describedby="passwordChange" placeholder="Enter new password for {{userForm.controls.firstName.value}}">
                                            </div>
                                            <div class="mb-3">
                                                <button type="button" class="btn  btn-danger"(click)="changePasswordFunction()">Change {{userForm.controls.firstName.value}}'s password</button>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" id="cancel2" name="cancel2" data-dismiss="modal">Close</button>
                        <button type="button" (click)="postUserDetails()" *ngIf="newForm" class="btn btn-primary waves-effect waves-light ">Add</button>
                        <button type="button" (click)="UpdateUserDetails()" *ngIf="!newForm" class="btn btn-primary waves-effect waves-light ">Save Changes</button>
                        <button type="button" (click)="deleteUser()" *ngIf="!newForm" class="btn btn-danger waves-effect waves-light ">Delete User</button>
                    </div>
                </div>
            </div>
        </div>

        