<app-breadcrumb title="Site Visits" subTitle="Site Visits"></app-breadcrumb>

        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Site Visits</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn  btn-secondary" (click)="dowloadReport()">Export</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Client</th>
                                    <th>Site Name</th>
                                    <th>Province</th>
                                    <th>Manager</th>
                                    <th>Site Employee</th>
                                    <th>Status</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of liveList | paginate: { id: 'list_of_items', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
                                    <td>{{item.assessment.assYear}} {{item.assessment.assMonth}}</td>
                                    <td>{{item.client.clientName}}</td>
                                    <td>{{item.siteName.siteName}}</td>
                                    <td>{{item.assessment.province}}</td>
                                    <!--<td *ngIf="item.cleaningLog.status === 'Complete'"><span class="badge badge-success">{{ item.cleaningLog.status }}</span></td>
                                    <td *ngIf="item.cleaningLog.status != 'Complete'"><span class="badge badge-warning">{{ item.cleaningLog.status }}</span></td>-->
                                    <td>{{item.manager.firstName}} {{item.manager.lastName}}</td>
                                    <td>{{item.employee.firstName}} {{item.employee.lastName}}</td>
                                    <td>{{item.assessment.status}}</td>
                                    <td>
                                        <div>
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm"
                                                data-toggle="modal"
                                                data-target="#large-Modal"
                                                (click)="open(item)"
                                                >
                                                <i class="fas fa-edit"></i>
                                                </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="list_of_items" (pageChange)="page = $event"></pagination-controls>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->

        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-pulse"
        >
        <p style="font-size: 20px; color: white">please wait...</p>
        </ngx-spinner>



<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog-full-width modal-dialog" role="document">
        <div class="modal-content-full-width modal-content">
            <div class="modal-header-full-width modal-header">
                <h4 class="modal-title">Checklist for Managers and Supervisors</h4>
                <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3"><h4>Year:</h4> <h5>{{currentData?.assessment.assMonth}} {{currentData?.assessment.assYear}}</h5> </div>
                    <div class="col-sm-3"><h4>Client:</h4> <h5>{{currentData?.client.clientName}}</h5></div>
                    <div class="col-sm-3"><h4>Site:</h4> <h5>{{currentData?.siteName.siteName}}</h5> </div>
                    <div class="col-sm-3"><h4>Manager:</h4> <h5>{{currentData?.manager.firstName}} {{currentData?.manager.lastName}}</h5> </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let item of questions">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{item.question}}</li>
                                <li class="list-group-item">{{item.answer}}</li>
                                <li class="list-group-item">COMMENT:<br/>{{item.comment}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger waves-effect" (click)="print()">Print</button>
                <button
                type="button"
                class="btn btn-secondary waves-effect"
                id="cancel"
                name="cancel"
                data-dismiss="modal"
                >
                Close
                </button>
            </div>
        </div>
    </div>
</div>