<app-breadcrumb title="Tasks" subTitle="Tasks"></app-breadcrumb>

        <!-- [ Main Content ] start -->
        <!-- SEARCH -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                SEARCH
            </div>
          </div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                    <select name="selectedSearchTypeTaskSearch" id="selectedSearchTypeTaskSearch" [(ngModel)]="selectedSearchTypeTaskSearch" class="form-control">
                        <option value="status">Task Status</option>
                        <option value="frequency">Frequence</option>
                        <option value="region">Region/Province</option>
                        <option value="user.firstName">First Name</option>
                        <option value="user.lastName">Last Name</option>
                        <option value="user.username">Email</option>
                    </select>
                    <select name="selectedSearchType1TaskSearch" id="selectedSearchType1TaskSearch" [(ngModel)]="selectedSearchType1TaskSearch" class="form-control">
                        <option value="contains">contains</option>
                        <option value="equal">equals</option>
                    </select>
                    <input type="text" class="form-control" [(ngModel)]="searchTextTaskSearch" placeholder="SEARCH: Enter {{selectedSearchTypeTaskSearch}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="searchTasks()" >Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadTasks()">Clear</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH -->

        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header">
                        <h6>{{tasksList.length}} Tasks loaded</h6>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn  btn-primary" (click)="open(content2)">Add New Task</button>
                                <button type="button" class="btn  btn-secondary" (click)="dowloadReport()">Export</button>
                                <!--<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item " data-toggle="modal" data-target="#large-Modal"><a><span><i class="feather icon-plus-circle"></i> add new user</span></a></li>
                                    <li class="dropdown-item " (click)="loadUsers()"><a><i class="feather icon-refresh-cw"></i> reload</a></li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TaskID</th>
                                    <th>Progress</th>
                                    <th>Region</th>
                                    <th>Task Name</th>
                                    <th>Agent</th>
                                    <th>Start Date</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th>frequence</th>
                                    <th>ATM's</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tasksList | paginate: { id: 'list_of_items', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
                                    <td><input type="checkbox" [(ngModel)]="item.isSelected" (change)="getSelected(item.isSelected, item.taskName)"> </td>
                                    <td>{{item.taskId}}</td>
                                    <td>{{calcProgress(item.taskActivities)}}%</td>
                                    <td>{{item.region}}</td>
                                    <td>{{item.taskName}}</td>
                                    <td>{{item.user.firstName}} {{item.user.lastName}}</td>
                                    <td>{{item.startDate}}</td>
                                    <td>{{item.dueDate}}</td>
                                    <td>{{calcStatus(calcProgress(item.taskActivities))}}</td>
                                    <td>{{item.frequency}}</td>
                                    <td>{{item.taskActivities.length}}</td>
                                    <!--<td><div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div></td>-->
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-primary btn-sm" (click)="openBrowse(content2, item)"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask(item.taskId, item.user.firstName, item.user.lastName)"><i class="fas fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="list_of_items" (pageChange)="page = $event"></pagination-controls>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->

        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-pulse"
        >
        <p style="font-size: 20px; color: white">please wait...</p>
        </ngx-spinner>


        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">ATM's</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                    <!-- SEARCH -->
                    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        <!--<div class="card-header">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                SEARCH
                            </div>
                        </div>-->
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select name="selectedSearchTypeAtm" id="selectedSearchTypeAtm" [(ngModel)]="selectedSearchTypeAtm" class="form-control">
                                        <option value="atmName">Atm Name</option>
                                        <option value="atm_ID_Code">ATM ID</option>
                                        <option value="city">City</option>
                                        <option value="province">Province</option>
                                        <option value="streetAddress1">Street Address</option>
                                        <option value="suburb">Suburb</option>
                                    </select>
                                    <select name="selectedSearchType1Atm" id="selectedSearchType1Atm" [(ngModel)]="selectedSearchType1Atm" class="form-control">
                                        <option value="contains">contains</option>
                                        <option value="equal">equals</option>
                                    </select>
                                    <input type="text" class="form-control" [(ngModel)]="searchAtmTextAtm" placeholder="SEARCH: Enter {{selectedSearchTypeAtm}}">
                                    <div class="input-group-append">
                                        <button class="btn  btn-primary" type="button" (click)="searchAtm()" >Search</button>
                                        <button class="btn  btn-primary" type="button" (click)="loadAtms()">Clear</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- END SEARCH -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">ATM ID</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">Region</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let atm of atmList | paginate: { id: 'list_of_items_atm', itemsPerPage: 5, currentPage: pageAtm, totalItems: totalRecordsAtm}">
                                    <td><input type="checkbox" [(ngModel)]="atm.isSelected" (change)="getSelectedAtm(atm.isSelected, atm, atm.atmId)"> </td>
                                    <td>{{atm.atm_ID_Code}}</td>
                                    <td>{{atm.atmName}}</td>
                                    <td>{{atm.province}}</td>
                                    <td>{{atm.streetAddress1}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="list_of_items_atm" (pageChange)="pageAtm = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Done</button>
            </div>
        </ng-template>


        <ng-template #contentUsers let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Users</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <!-- SEARCH -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        <!--<div class="card-header">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                SEARCH
                            </div>
                        </div>-->
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select name="selectedSearchTypeUserSearch" id="selectedSearchTypeUserSearch" [(ngModel)]="selectedSearchTypeUserSearch" class="form-control">
                                        <option value="firstName">First Name</option>
                                        <option value="lastName">Last Name</option>
                                        <option value="userType">User Type</option>
                                        <option value="region">Region/Province</option>
                                        <option value="username">Email</option>
                                        <option value="userGuid">User Guid</option>
                                    </select>
                                    <select name="selectedSearchType1UserSearch" id="selectedSearchType1UserSearch" [(ngModel)]="selectedSearchType1UserSearch" class="form-control">
                                        <option value="contains">contains</option>
                                        <option value="equal">equals</option>
                                    </select>
                                    <input type="text" class="form-control" [(ngModel)]="searchTextUserSearch" placeholder="SEARCH: Enter {{selectedSearchTypeUserSearch}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn  btn-primary" type="button" (click)="searchUsers()" >Search</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- END SEARCH -->
                <div class="row">
                    <div class="col-12">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Mobile</th>
                                    <th>Province</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userListUserSearch | paginate: { id: 'list_of_items_user_search', itemsPerPage: 5, currentPage: pageUserSearch, totalItems: totalRecordsUserSearch}">
                                    <td>{{item.user.firstName}}</td>
                                    <td>{{item.user.lastName}}</td>
                                    <td>{{item.contact.mobile}}</td>
                                    <td>{{item.address?.province}}</td>
                                    <td>
                                        <div>
                                            <button type="button" class="btn btn-primary btn-sm" (click)="selectUser(item.user.userId, item.user.firstName, item.user.lastName)">SELECT {{item.user.firstName}}</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <pagination-controls id="list_of_items_user_search" (pageChange)="pageUserSearch = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" id="cancelUserSearchModal" (click)="c('Save click')">Done</button>
            </div>
        </ng-template>


        <ng-template #content2 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">TASK</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="taskForm">
                    <div class="row">
                        <div class="col-4">
                            <label for="taskName" class="form-label">Task Name</label>
                            <input type="text" formControlName="taskName" class="form-control" id="taskName" aria-describedby="taskNameHelp">
                        </div>
                        <div class="col-4">
                            <label for="province" class="form-label">Region</label>
                            <select name="province" id="province" formControlName="province" class="form-control">
                                <option value="Eastern Cape">Eastern Cape</option>
                                <option value="Free State">Free State</option>
                                <option value="Gauteng">Gauteng</option>
                                <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                <option value="Limpopo">Limpopo</option>
                                <option value="Mpumalanga">Mpumalanga</option>
                                <option value="Northern Cape">Northern Cape</option>
                                <option value="North-West">North-West</option>
                                <option value="Western Cape">Western Cape</option>
                            </select>
                        </div>
                        <!--<div class="col-4">
                            <label for="user" class="form-label">Users</label>
                            <select name="user" id="user" formControlName="user" class="form-control">
                                <option value="1">Nhlanhla</option>
                                <option value="2">Test1</option>
                                <option value="3">Test2</option>
                                <option value="4">Test3</option>
                            </select>
                        </div>-->
                        <div class="col-4">
                            <label for="dueDate" class="form-label">User/Agent</label>
                            <div class="input-group">
                                <input class="form-control" name="user" id="user" formControlName="user" readonly>
                                <button class="btn btn-outline-primary" type="button" (click)="openUsersModal(contentUsers)"><i class="fa fa-user" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="dueDate" class="form-label">Start Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" id="startDate" formControlName="startDate" ngbDatepicker #dStart="ngbDatepicker">
                                <button class="btn btn-outline-primary calendar" (click)="dStart.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="dueDate" class="form-label">Due Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dueDate" id="dueDate" formControlName="dueDate" ngbDatepicker #dDue="ngbDatepicker">
                                <button class="btn btn-outline-primary calendar" (click)="dDue.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="frequence" class="form-label">Frequency</label>
                            <select name="frequence" id="frequence" formControlName="frequence" class="form-control">
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" (click)="openAtmModal(content)" class="btn btn-primary waves-effect waves-light float-right">Add ATM's To Task</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                <li [ngbNavItem]="1">
                                    <a ngbNavLink>Pending</a>
                                    <ng-template ngbNavContent>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Renew Date</th>
                                                            <th scope="col">O/C</th>
                                                            <th scope="col">Task ID</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">ATM ID</th>
                                                            <th scope="col">NAME</th>
                                                            <th scope="col">Region</th>
                                                            <th scope="col">Address</th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let key of mapOfSelectedAtmsKeys | paginate: { id: 'list_of_items_selected_atm', itemsPerPage: 5, currentPage: pageSelectedAtm, totalItems: totalRecordsSelectedAtm}">
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.dateAdded}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.openOrClosed}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.taskActivityId}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.status}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).atm_ID_Code}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).atmName}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).province}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).streetAddress1}}</td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails">
                                                                <i class="fa fa-eye text-primary" aria-hidden="true" (click)="openAtmTaskModal(contentAtmInformation, mapOfSelectedAtms.get(key))"></i>
                                                            </td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails">
                                                                <i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteTaskAtm(key)"></i>
                                                            </td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails == null"><i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteTaskAtm(key)"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <pagination-controls id="list_of_items_selected_atm" (pageChange)="pageSelectedAtm = $event"></pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li [ngbNavItem]="2">
                                    <a ngbNavLink>Completed</a>
                                    <ng-template ngbNavContent>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Renew Date</th>
                                                            <th scope="col">O/C</th>
                                                            <th scope="col">Task ID</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">ATM ID</th>
                                                            <th scope="col">NAME</th>
                                                            <th scope="col">Region</th>
                                                            <th scope="col">Address</th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let key of mapOfSelectedAtmsKeys | paginate: { id: 'list_of_items_selected_atm', itemsPerPage: 5, currentPage: pageSelectedAtm, totalItems: totalRecordsSelectedAtm}">
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.dateAdded}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.openOrClosed}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.taskActivityId}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key)?.activityDetails?.status}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).atm_ID_Code}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).atmName}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).province}}</td>
                                                            <td>{{mapOfSelectedAtms.get(key).streetAddress1}}</td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails">
                                                                <i class="fa fa-eye text-primary" aria-hidden="true" (click)="openAtmTaskModal(contentAtmInformation, mapOfSelectedAtms.get(key))"></i>
                                                            </td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails">
                                                                <i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteTaskAtm(key)"></i>
                                                            </td>
                                                            <td *ngIf="mapOfSelectedAtms.get(key)?.activityDetails == null"><i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteTaskAtm(key)"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    <pagination-controls id="list_of_items_selected_atm" (pageChange)="pageSelectedAtm = $event"></pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>

                            <div [ngbNavOutlet]="nav" class="mt-2"></div>

                            <pre>Active: {{ active }}</pre>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="cancel" (click)="c('Save click')">Cancel</button>
                <!--<button type="button" class="btn btn-outline-danger" (click)="c('Save click')">Delete Task</button>-->
                <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
            </div>
        </ng-template>

        <ng-template #contentAtmInformation let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{selectedAtmTask.atm.atm_ID_Code}} | {{selectedAtmTask.status}}</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label class="form-label"><strong>Captured Date:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.captureDate}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>Latitude:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.latitude}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>Longitude:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.longitude}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>Condition:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.atmCondition}}</label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-3 ">
                        <label class="form-label"><strong>status:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.status}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>comments:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.comments}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>phoneOs:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.phoneOs}}</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label"><strong>appVersion:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.appVersion}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 ">
                        <label class="form-label"><strong>Task Type:</strong></label><br/>
                        <label class="form-label">{{selectedAtmTask.taskType}}</label>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-3">
                        <label class="form-label"><strong>SCRIPT</strong></label><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 border border-primary m-1" *ngFor="let q of selectedAtmTask.taskQuestionAnswer">
                        <label class="form-label"><strong>{{q.taskQuestionScript.question}}</strong></label><br/>
                        <label class="form-label">{{q.answer}}</label>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <div id="map" class="full"></div>
                    </div>
                    <div class="col-md-6">
                        <img src="http://dev-assetopti.co.za/onlinepictures/downloadLeproPicture.php?pic=task-activity-id-{{selectedAtmTask.taskActivityId}}.png" class="rounded atmImage" alt="...">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
            </div>
        </ng-template>