<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar  ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="">
					<div class="main-menu-header">
						<img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
						<div class="user-details">
							<span>{{fullname}}</span>
							<div id="more-details">{{jobtitle}}</div>
						</div>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a routerLink="/main/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
                    <li class="nav-item">
					    <a routerLink="/main/users" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Users</span></a>
					</li>
					<li class="nav-item">
					    <a routerLink="/main/atms" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">ATM's</span></a>
					</li>
					<li class="nav-item">
					    <a routerLink="/main/tasks" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Tasks</span></a>
					</li>
					<li class="nav-item">
					    <a routerLink="/main/job-cards" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Job Cards</span></a>
					</li>
                    <!--<li class="nav-item">
					    <a routerLink="/main/live" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Live Feeds</span></a>
					</li>
                    <li class="nav-item">
					    <a routerLink="/main/cleaning-logs" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Cleaning logs</span></a>
					</li>
                    <li class="nav-item">
					    <a routerLink="/main/clients" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Clients</span></a>
					</li>-->
					<li class="nav-item">
					    <a routerLink="/main/site-visits" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Site Visits</span></a>
					</li>
				</ul>
				
				<div class="card text-center">
					<div class="card-block">
						<a href="http://zamambo.co.za" target="_blank" class="text-white m-0">Powered by <br>Zamambo Telecoms</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->