<app-side-nav></app-side-nav>
<app-top-nav></app-top-nav>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- [ Main Content ] end -->