<div class="col-md-6 col-xl-3">
    <div class="card bg-c-blue order-card">
        <div class="card-body">
            <h6 class="text-white">Total Assets</h6>
            <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>xxx</span></h2>
            <p class="m-b-0">Captured so far</p>
        </div>
    </div>
</div>
