<app-breadcrumb title="Cleaning Logs" subTitle="Cleaning Logs"></app-breadcrumb>

<!-- [ Main Content ] start -->
<!-- SEARCH -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                SEARCH
            </div>
          </div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                    <select name="selectedSearchType" id="selectedSearchType" [(ngModel)]="selectedSearchType" class="form-control">
                        <option value="atm_ID_Code">Atm ID Code</option>
                        <option value="atmName">Atm Name</option>
                        <option value="actualFullAddress">Cleaning Address</option>
                        <option value="atmCondition">Atm Condition</option>
                        <option value="status">Status</option>
                        <option value="userType">User Type</option>
                        <option value="activityType">Activity Type</option>
                        <option value="phoneOs">Phone OS Version</option>
                        <option value="appVersion">App Version</option>
                        <option value="clientName">Client Name</option>
                        <option value="cleaningType">Cleaning Type</option>
                        <option value="cleaningLogId">cleaningLogId</option>
                        <option value="cleanerFullname">Cleaner Fullname</option>
                        <option value="beforeComments">Before Comments</option>
                        <option value="userGuid">User Guid</option>
                        <option value="province">Region/Province</option>
                    </select>
                    <select name="selectedSearchType1" id="selectedSearchType1" [(ngModel)]="selectedSearchType1" class="form-control">
                        <option value="contains">contains</option>
                        <option value="equal">equals</option>
                    </select>
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="{{selectedSearchType}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="search()" >Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadAllCleaningLogs()">Clear</button>
                    </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                    <input type="text" name="reportDate" id="reportDate" class="form-control">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="searchByDateRange()">Search</button>
                        
                        <button class="btn  btn-primary" type="button" (click)="loadAllCleaningLogs()">Clear</button>
                    </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="combineSearch()">Combine Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadAllCleaningLogs()">Clear</button>
                    </div>
              </div>
              <!--<div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="loadAllCleaningLogs()">Combine Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadAllCleaningLogs()">Clear</button>
                    </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH -->

<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h6>{{responseMessage}}</h6>
        <div class="card-header-right">
          <div class="btn-group card-option">
              <button type="button" class="btn  btn-secondary" (click)="dowloadReport()">Export</button>
            </div>
        </div>
      </div>
      <div class="card-body table-border-style">
        <div class="table-responsive">
          <table class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th>Start Time</th>
                <th>Type</th>
                <th>ATM ID/NAME</th>
                <th>Province</th>
                <th>Status</th>
                <th>Complete Time</th>
                <th>User</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of liveList
                    | paginate
                      : {
                          id: 'list_of_items',
                          itemsPerPage: 10,
                          currentPage: page,
                          totalItems: totalRecords
                        }
                "
              >
                <td>{{ item.cleaningLog.dateAdded }}</td>
                <td>{{ item.cleaningLog.cleaningType }}</td>
                <td>{{ item.cleaningLog.atm_ID_Code }}</td>
                <td>{{ item.cleaningLog.province }}</td>
                <td *ngIf="item.cleaningLog.status === 'Complete'"><span class="badge badge-success">{{ item.cleaningLog.status }}</span></td>
                <td *ngIf="item.cleaningLog.status != 'Complete'"><span class="badge badge-warning">{{ item.cleaningLog.status }}</span></td>
                <td>{{ item.cleaningLog.dateUpdated }}</td>
                <td>{{ item.cleaningLog.cleanerFullname }}</td>
                <td>
                  <div>
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      data-toggle="modal"
                      data-target="#large-Modal"
                      (click)="open(item)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls
              id="list_of_items"
              (pageChange)="page = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ sample-page ] end -->
</div>
<!-- [ Main Content ] end -->

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse"
>
  <p style="font-size: 20px; color: white;">please wait...</p>
</ngx-spinner>

<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog-full-width modal-dialog" role="document">
    <div class="modal-content-full-width modal-content">
      <div class="modal-header-full-width modal-header">
        <h4 class="modal-title">Cleaning Logs</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5 *ngIf="status === 'Complete'">#{{atmId}} | <span class="badge badge-success"> Cleaning {{status}} by {{fullName}} </span> </h5>
                <h5 *ngIf="status != 'Complete'">#{{atmId}} | <span class="badge badge-warning"> Cleaning {{status}} by {{fullName}} </span> </h5>
              </div>
              <div class="card-body">
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active text-uppercase"
                      id="home-tab"
                      data-toggle="tab"
                      href="#home"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                    >
                      Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-uppercase"
                      id="profile-tab"
                      data-toggle="tab"
                      href="#profile"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                    >
                      More Info
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-uppercase"
                      id="contact-tab"
                      data-toggle="tab"
                      href="#contact"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                    >
                      Cleaner Details
                    </a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                  
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                ATM ID/SHOP ID
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="atmId"
                              />
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                Date
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="dateCaptured"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                ATM Condition
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="atmCondition"
                              />
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                Area Name
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="areaName"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                Latitude
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="latitude"
                              />
                            </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label
                                for="exampleInputEmail1"
                                class="form-label"
                              >
                                Longitude
                              </label>
                              <input
                                type="text"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                [(ngModel)]="longitude"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                <label
                                    for="exampleInputEmail1"
                                    class="form-label"
                                >
                                    Comments Before 
                                </label>
                                <Textarea class="form-control" ngDefaultControl id="commentBefore" name="commentBefore" [(ngModel)]="commentBefore"></Textarea>
                                </div>
                          </div>
                          <div class="col-sm-6">
                                <div class="mb-3">
                                <label
                                    for="exampleInputEmail1"
                                    class="form-label"
                                >
                                    Comments After 
                                </label>
                                <Textarea class="form-control" ngDefaultControl id="ccommentAfter" name="ccommentAfter" [(ngModel)]="ccommentAfter"></Textarea>
                                </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="map" class="full"></div>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div
                          id="carouselExampleIndicatorscaption"
                          class="carousel slide"
                          data-ride="carousel"
                        >
                          <ol class="carousel-indicators">
                            <li
                              data-target="#carouselExampleIndicators"
                              data-slide-to="0"
                              class="active"
                            ></li>
                            <li
                              data-target="#carouselExampleIndicators"
                              data-slide-to="1"
                              class=""
                            ></li>
                            <li
                              data-target="#carouselExampleIndicators"
                              data-slide-to="2"
                              class=""
                            ></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active" *ngFor="let item of picList; let i = index">
                              <img
                                class="img-fluid d-block w-100"
                                src="http://dev-assetopti.co.za/onlinepictures/downloadLeproPicture.php?pic={{item.fileName}}"
                                alt={{item.fileName}}
                              />
                              <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-white">{{item.description}}</h5>
                                <p>
                                  {{item.dateAdded}}
                                </p>
                              </div>
                            </div>
                          </div>
                          <a
                            class="carousel-control-prev"
                            href="#carouselExampleIndicatorscaption"
                            role="button"
                            data-slide="prev"
                          >
                            <span
                              class="carousel-control-prev-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a
                            class="carousel-control-next"
                            href="#carouselExampleIndicatorscaption"
                            role="button"
                            data-slide="next"
                          >
                            <span
                              class="carousel-control-next-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                  >
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>Activity Type</h6>
                            <p>{{moreInfo?.activityType}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>Activity Status</h6>
                            <p>{{moreInfo?.status}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>App Version</h6>
                            <p>{{moreInfo?.appVersion}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>Phone Os</h6>
                            <p>{{moreInfo?.phoneOs}}</p>
                        </div>
                    </div>
                      
                  </div>
                  <div
                    class="tab-pane fade"
                    id="contact"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                  >
                    <div class="row">
                        <div class="col-sm-3">
                            <h6>Full Name</h6>
                            <p>{{cleaner?.firstName}} {{cleaner?.lastName}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>Email</h6>
                            <p>{{cleaner?.username}}</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>Mobile</h6>
                            <p>**********</p>
                        </div>
                        <div class="col-sm-3">
                            <h6>Job description</h6>
                            <p>{{cleaner?.userType}}</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary waves-effect"
          id="cancel"
          name="cancel"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
