<app-breadcrumb title="Job Cards" subTitle="Job Cards"></app-breadcrumb>


    <!-- SEARCH -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                SEARCH
            </div>
          </div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                    <select name="selectedSearchTypeJobSearch" id="selectedSearchTypeJobSearch" [(ngModel)]="selectedSearchTypeJobSearch" class="form-control">
                        <option value="status">Job Status</option>
                        <option value="region">Region/Province</option>
                        <option value="user.firstName">First Name</option>
                        <option value="user.lastName">Last Name</option>
                        <option value="user.username">Email</option>
                    </select>
                    <select name="selectedSearchType1JobSearch" id="selectedSearchType1JobSearch" [(ngModel)]="selectedSearchType1JobSearch" class="form-control">
                        <option value="contains">contains</option>
                        <option value="equal">equals</option>
                    </select>
                    <input type="text" class="form-control" [(ngModel)]="searchTextJobSearch" placeholder="SEARCH: Enter {{selectedSearchTypeJobSearch}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="searchJobs()" >Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadJobs()">Clear</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH -->

    