<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="assets/images/lepro-logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
                        <form [formGroup]="loginFormGroup">
                            <h4 class="mb-3 f-w-400">Signin</h4>
                            <hr>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" id="username" formControlName="username" placeholder="Email address">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
                            </div>
                            <!--<div class="custom-control custom-checkbox text-left mb-4 mt-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save credentials.</label>
                            </div>-->
                            <button class="btn btn-block btn-primary mb-4" (click)="onLogin()">Signin</button>
                            <p class="mb-0 text-muted">&copy; 2021 Copyrights Reserved by  <a href="http://lepro.co.za" target="_blank" class="f-w-400">Lepro</a></p>
                            <hr>
                            <!--<p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
                            <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.html" class="f-w-400">Signup</a></p>-->
                            

                            <p class="mb-0 text-muted">Developed by <a href="http://zamambo.co.za" target="_blank" class="f-w-400">Zamambo Telecoms</a></p>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse"
>
  <p style="font-size: 20px; color: white">please wait...</p>
</ngx-spinner>