<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-body">
                <h6 class="text-white">ATM's In Progress</h6>
                <h2 class="text-right text-white"><i class="feather icon-loader float-left"></i><span>{{totalNumberOfPendingAtms}}</span></h2>
                <p class="m-b-0">Today</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-body">
                <h6 class="text-white">ATM Completed</h6>
                <h2 class="text-right text-white"><i class="feather icon-check-circle float-left"></i><span>{{totalNumberOfCompletedAtms}}</span></h2>
                <p class="m-b-0">Today</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-body">
                <h6 class="text-white">Total ATM's</h6>
                <h2 class="text-right text-white"><i class="feather icon-credit-card float-left"></i><span>{{totalNumberOfAtms}}</span></h2>
                <p class="m-b-0">Today</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card bg-c-red order-card">
            <div class="card-body">
                <h6 class="text-white">Users</h6>
                <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{totalNumberOfUsers}}</span></h2>
                <p class="m-b-0">Today</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ donut-3d-Chart ] start -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Daily Activities</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        
                        <button type="button" class="btn  btn-secondary">Export</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="tblStatGraph" style="width: 100%; height: 350px;"></div>
            </div>
        </div>
    </div>
    <!-- [ donut-3d-Chart ] end -->
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse"
>
  <p style="font-size: 20px; color: white;">please wait...</p>
</ngx-spinner>