<app-breadcrumb title="Atms" subTitle="atms"></app-breadcrumb>

        <!-- [ Main Content ] start -->
        <!-- SEARCH -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!--<div class="card-header">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                SEARCH
            </div>
          </div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                    <select name="selectedSearchType" id="selectedSearchType" [(ngModel)]="selectedSearchType" class="form-control">
                        <option value="atmName">Atm Name</option>
                        <option value="atm_ID_Code">ATM ID</option>
                        <option value="city">City</option>
                        <option value="province">Province</option>
                        <option value="streetAddress1">Street Address</option>
                        <option value="suburb">Suburb</option>
                    </select>
                    <select name="selectedSearchType1" id="selectedSearchType1" [(ngModel)]="selectedSearchType1" class="form-control">
                        <option value="contains">contains</option>
                        <option value="equal">equals</option>
                    </select>
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="SEARCH: Enter {{selectedSearchType}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn  btn-primary" type="button" (click)="search()" >Search</button>
                        <button class="btn  btn-primary" type="button" (click)="loadAtms()">Clear</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SEARCH -->

        <div class="row">
            <!-- [ sample-page ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h6>{{responseMessage}}</h6>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#large-Modal" (click)="clear()">Add ATM</button>
                                <button type="button" class="btn  btn-secondary" (click)="dowloadReport()">Export</button>
                                <!--<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item" data-toggle="modal" data-target="#large-Modal"><a><span><i class="feather icon-plus-circle"></i> add new atm</span></a></li>
                                    <li class="dropdown-item" (click)="loadAtms()"><a><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    
                                </ul>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Street Address 1</th>
                                    <th>Street Address 2</th>
                                    <th>Province</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tbody>
                                    <tr *ngFor="let item of atmList | paginate: { id: 'list_of_items', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
                                    <td>{{item.atm_ID_Code}}</td>
                                    <td>{{item.atmName}}</td>
                                    <td>{{item.streetAddress1}}</td>
                                    <td>{{item.streetAddress2}}</td>
                                    <td>{{item.province}}</td>
                                  
                                        <td>

                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#large-Modal" (click)="openATM(item)"><i class="fas fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls id="list_of_items" (pageChange)="page = $event"></pagination-controls>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ sample-page ] end -->
    
        <!-- [ Main Content ] end -->

        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-pulse"
        >
        <p style="font-size: 20px; color: white">please wait...</p>
        </ngx-spinner>





  <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">ATM</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="atmForm">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">ATM Name</label>
                      <input type="text" formControlName="atmName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="atm_ID_Code" class="form-label">ATM ID</label>
                      <input type="text" formControlName="atm_ID_Code" class="form-control" id="atm_ID_Code">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" formControlName="city" class="form-control" id="city">
                      </div>
                      <div class="mb-3">
                        <label for="streetAddress1" class="form-label">Street Address Line 1</label>
                        <input type="text" formControlName="streetAddress1" class="form-control" id="streetAddress1">
                      </div>
                      <div class="mb-3">
                        <label for="streetAddress2" class="form-label">Street Address Line 2</label>
                        <input type="text" formControlName="streetAddress2" class="form-control" id="streetAddress2">
                      </div>
                      <div class="mb-3">
                        <label for="suburb" class="form-label">Suburb</label>
                        <input type="text" formControlName="suburb" class="form-control" id="suburb">
                      </div>
                      <div class="mb-3">
                        <label for="province" class="form-label">Province</label>
                        <!--<input type="text" formControlName="province" class="form-control" id="province">-->
                        <select name="province" id="province" formControlName="province" class="form-control">
                            <option value="Eastern Cape">Eastern Cape</option>
                            <option value="Free State">Free State</option>
                            <option value="Gauteng">Gauteng</option>
                            <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                            <option value="Limpopo">Limpopo</option>
                            <option value="Mpumalanga">Mpumalanga</option>
                            <option value="Northern Cape">Northern Cape</option>
                            <option value="North West">North West</option>
                            <option value="Western Cape">Western Cape</option>
                        </select>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" id="cancel" name="cancel" data-dismiss="modal">Close</button>
                  <button type="button"  (click)="postAtmDetails()" *ngIf="newAtm" class="btn btn-primary waves-effect waves-light ">Add</button>
                  <button type="button"  (click)="updateAtmDetails()" *ngIf="!newAtm" class="btn btn-primary waves-effect waves-light ">Save Changes</button>
                  <button type="button"  (click)="deleteAtm()" *ngIf="!newAtm" class="btn btn-danger waves-effect waves-light ">Delete</button>
              </div>
          </div>
      </div>
  </div>
       

        
                            
                                      
                                            
                        
                              
                          